.hero {
  height: 90vh;
  background: linear-gradient(135deg, #dcfce7, #bbf7d0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 52px;
  color: #14532d;
}

.hero-btn {
  margin-top: 20px;
  padding: 14px 30px;
  background: #16a34a;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
}
